* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poiret One", sans-serif;
  /*  */
}
/* Remove default list style */
ul,
ol {
  list-style: none;
}
header {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}
.navbar a,
.title {
  font-family: "Spirax", sans-serif;
}
.navbar {
  display: flex;
  justify-content: center;
}
.navbar ul {
  display: flex;
  flex-direction: row;
}
.navbar li {
  margin: 10px;
}
.navbar a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}
#hot {
  background-image: url(./assets/hot.jpg);
}
#juicy {
  background-image: url(./assets/juicy.jpg);
}
#cosy {
  background-image: url(./assets/cosy.jpg);
}
.page-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.title {
  color: darkred;
  font-size: 4rem;
}

.sub-title p {
  background-color: darkred;
  padding: 10px;
  margin: 20px 10px;
  width: 80vw;
  font-size: 1.1rem;
}
.menu-wrapper {
  background-color: black;
  width: 80vw;
  display: flex;
  justify-content: space-between;
}
.menu-item,
.menu-price {
  padding: 10px;
  margin: 10px;
}

/* Mobile first => min-width */
@media screen and (min-width: 426px) {
  .navbar li {
    padding: 10px;
  }
  .navbar a {
    font-size: 2.5rem;
  }
}
