* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poiret One", sans-serif;
}
/* === Remove default list style === */
ul,
ol {
  list-style: none;
}

/* === Navigation Bar === */
header {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.navbar {
  display: flex;
  justify-content: center;
}
.navbar ul {
  display: flex;
  flex-direction: row;
}
.navbar li {
  margin: 10px;
}
.navbar a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}
.navbar a,
.title {
  font-family: "Spirax", sans-serif;
}

/* === Background Images === */
#hot {
  background-image: url(./assets/hot.jpg);
}
#juicy {
  background-image: url(./assets/juicy.jpg);
}
#cosy {
  background-image: url(./assets/cosy.jpg);
}

/* === Section Base === */
section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
article {
  width: 80vw;
}

.title {
  color: rgb(139, 0, 0);
  font-size: 4rem;
}
.sub-title {
  text-align: center;
}
.sub-title p {
  background-color: rgba(139, 0, 0, 0.8);
  padding: 10px;
  margin: 20px 0;
}
.sub-title p:nth-child(2) {
  display: none;
}

/* === Menu === */

.menu-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
}
.menu-item li {
  display: flex;
  justify-content: space-between;
}
.menu-item {
  padding: 10px;
}

/* === Responsive === */
@media screen and (min-width: 426px) {
  .navbar li {
    padding: 10px;
  }
  .navbar a {
    font-size: 2rem;
  }
  article {
    width: 55vw;
  }

  .sub-title {
    width: 65vw;
  }
  .sub-title p {
    padding: 13px;
    width: 55vw;
  }
  .sub-title p:nth-child(2) {
    display: block;
    float: right;
    margin-top: 0;
  }
  .menu-item {
    padding: 0 10px;
    margin: 10px 30px;
  }
}

/* === Responsive Desktop === */
@media screen and (min-width: 769px) {
  .title {
    font-size: 5rem;
  }
  .sub-title p {
    font-size: 1.3rem;
    width: 50vw;
  }
}
